$font-color-primary: rgb(26 26 26);
$font-color-secondary: rgb(255 255 255);
$background-color-primary:rgb(255 255 255);
$footer-background-color:rgb(107 107 107);
$green-color-icon: rgb(70 141 65);
$orange-color-icon: rgb(206 120 9);
$red-color-icon: rgb(185 30 43);
$hover-state-inactive: rgb(255 255 255);
$hover-state-active:rgb(107 107 107);