$font-color-primary: rgb(26 26 26);
$font-color-secondary: rgb(255 255 255);
$background-color-primary:rgb(255 255 255);
$footer-background-color:rgb(70 78 79);
$hover-state-inactive: rgb(255 255 255);
$hover-state-active:rgb(107 107 107);
$hover-state-dropshaddow:rgba(26,26,26,0.1);
$section-color-background:rgb(218,218,218);
$red-color-logo: rgb(184,34,52);
$tag-color-construction: rgb(26 26 26);
$tag-color-electrician: #07775B;
$tag-color-automotive: #2715AE;
$tag-color-painting: #6c793e;
$tag-color-discontinued: #B91215;