    
    @font-face {
        font-family: 'Apex New Trial';
        src: url('fonts/apexnewtrial-thin-webfont.woff2') format('woff2'),
            url('fonts/apexnewtrial-thin-webfont.woff') format('woff');
        font-weight: 100;
        font-style: normal;

    }


    @font-face {
        font-family: 'Apex New Trial';
        src: url('fonts/apexnewtrial-thinitalic-webfont.woff2') format('woff2'),
            url('fonts/apexnewtrial-thinitalic-webfont.woff') format('woff');
        font-weight: 100;
        font-style: italic;

    }
    

    @font-face {
        font-family: 'Apex New Trial';
        src: url('fonts/apexnewtrial-light-webfont.woff2') format('woff2'),
            url('fonts/apexnewtrial-light-webfont.woff') format('woff');
        font-weight: 300;
        font-style: normal;

    }


    @font-face {
        font-family: 'Apex New Trial';
        src: url('fonts/apexnewtrial-lightitalic-webfont.woff2') format('woff2'),
            url('fonts/apexnewtrial-lightitalic-webfont.woff') format('woff');
        font-weight: 300;
        font-style: italic;

    }


    @font-face {
        font-family: 'Apex New Trial';
        src: url('fonts/apexnewtrial-book-webfont.woff2') format('woff2'),
            url('fonts/apexnewtrial-book-webfont.woff') format('woff');
        font-weight: 400;
        font-style: normal;

    }


    @font-face {
        font-family: 'Apex New Trial';
        src: url('fonts/apexnewtrial-bookitalic-webfont.woff2') format('woff2'),
            url('fonts/apexnewtrial-bookitalic-webfont.woff') format('woff');
        font-weight: 400;
        font-style: italic;

    }


    @font-face {
        font-family: 'Apex New Trial';
        src: url('fonts/apexnewtrial-medium-webfont.woff2') format('woff2'),
            url('fonts/apexnewtrial-medium-webfont.woff') format('woff');
        font-weight: 500;
        font-style: normal;

    }


    @font-face {
        font-family: 'Apex New Trial';
        src: url('fonts/apexnewtrial-mediumitalic-webfont.woff2') format('woff2'),
            url('fonts/apexnewtrial-mediumitalic-webfont.woff') format('woff');
        font-weight: 500;
        font-style: italic;

    }


    @font-face {
        font-family: 'Apex New Trial';
        src: url('fonts/apexnewtrial-bold-webfont.woff2') format('woff2'),
            url('fonts/apexnewtrial-bold-webfont.woff') format('woff');
        font-weight: 700;
        font-style: normal;

    }


    @font-face {
        font-family: 'Apex New Trial';
        src: url('fonts/apexnewtrial-bolditalic-webfont.woff2') format('woff2'),
            url('fonts/apexnewtrial-bolditalic-webfont.woff') format('woff');
        font-weight: 700;
        font-style: italic;

    }


    @font-face {
        font-family: 'Apex New Trial';
        src: url('fonts/apexnewtrial-heavy-webfont.woff2') format('woff2'),
            url('fonts/apexnewtrial-heavy-webfont.woff') format('woff');
        font-weight: 800;
        font-style: normal;

    }


    @font-face {
        font-family: 'Apex New Trial';
        src: url('fonts/apexnewtrial-heavyitalic-webfont.woff2') format('woff2'),
            url('fonts/apexnewtrial-heavyitalic-webfont.woff') format('woff');
        font-weight: 800;
        font-style: italic;

    }


    @font-face {
        font-family: 'Apex New Trial';
        src: url('fonts/apexnewtrial-ultra-webfont.woff2') format('woff2'),
            url('fonts/apexnewtrial-ultra-webfont.woff') format('woff');
        font-weight: 900;
        font-style: normal;

    }


    @font-face {
        font-family: 'Apex New Trial';
        src: url('fonts/apexnewtrial-ultraitalic-webfont.woff2') format('woff2'),
            url('fonts/apexnewtrial-ultraitalic-webfont.woff') format('woff');
        font-weight: 900;
        font-style: italic;

    }