
@font-face {
    font-family: 'apex_new_trialbold';
    src: url('../fonts/apexnewtrial-bold-webfont.woff2') format('woff2'),
         url('../fonts/apexnewtrial-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'apex_new_trialbold_italic';
    src: url('../fonts/apexnewtrial-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/apexnewtrial-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apex_new_trialbook';
    src: url('../fonts/apexnewtrial-book-webfont.woff2') format('woff2'),
         url('../fonts/apexnewtrial-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apex_new_trialbook_italic';
    src: url('../fonts/apexnewtrial-bookitalic-webfont.woff2') format('woff2'),
         url('../fonts/apexnewtrial-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apex_new_trialheavy';
    src: url('../fonts/apexnewtrial-heavy-webfont.woff2') format('woff2'),
         url('../fonts/apexnewtrial-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apex_new_trialheavy_italic';
    src: url('../fonts/apexnewtrial-heavyitalic-webfont.woff2') format('woff2'),
         url('../fonts/apexnewtrial-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'apex_new_triallight';
    src: url('../fonts/apexnewtrial-light-webfont.woff2') format('woff2'),
         url('../fonts/apexnewtrial-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apex_new_triallight_italic';
    src: url('../fonts/apexnewtrial-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/apexnewtrial-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apex_new_trialmedium';
    src: url('../fonts/apexnewtrial-medium-webfont.woff2') format('woff2'),
         url('../fonts/apexnewtrial-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apex_new_trialmedium_italic';
    src: url('../fonts/apexnewtrial-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/apexnewtrial-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apex_new_trialthin';
    src: url('../fonts/apexnewtrial-thin-webfont.woff2') format('woff2'),
         url('../fonts/apexnewtrial-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apex_new_trialthin_italic';
    src: url('../fonts/apexnewtrial-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/apexnewtrial-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apex_new_trialultra';
    src: url('../fonts/apexnewtrial-ultra-webfont.woff2') format('woff2'),
         url('../fonts/apexnewtrial-ultra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apex_new_trialultra_italic';
    src: url('../fonts/apexnewtrial-ultraitalic-webfont.woff2') format('woff2'),
         url('../fonts/apexnewtrial-ultraitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}